{% extends 'base.html' %}
{% block title %}Profile user {{ username }}{% endblock %}
{% block container %}

<h1>Profile user {{ username }}</h1>
<h2 style="color: blue">Слава Україні! Підтримай ЗСУ!</h2>
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAACFCAMAAAApQEceAAAACVBMVEUAm///zQB/tICkQksAAAAAbklEQVR4nO3PAQ0AIAzAsIN/0bggy9M66AwAAAAAAAAAAAAAAADw0V1izhIiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1ayIPTrs1IcVviyIAAAAASUVORK5CYII=">

{% endblock %}